/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@media (min-width:320px) and (max-width:481px) { 
    .navbar{
        color: blue;
    }
    .collapse:not(.show) {
        color: aqua;
    }
} 